.btn-container {
  margin: 15px 0;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.02);
}

.product-container {
  display: grid;
  grid-template-columns: auto auto;
}

.img-container {
  padding: 10px;
  width: 80%;
  margin: auto;
  display: flex;
}

.img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 10px;
}

.rating-container {
  display: flex;
  align-items: center;
}

.desc {
  font-weight: bold;
}

#product-desc > li {
  margin: 5px 0;
  line-height: 16px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}