/**
 * @author Tanej (C0882384),
 * @author Sanjay (C0886438),
 * @author Tharun (C0886441)
 */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.login-container {
  margin: auto;
  width: 100%;
}
